# Pandas Assignment

#### Ques 1

In [3]:
import pandas as pd
series = pd.Series([4,8,15,16,23,42])

In [18]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

#### Ques 2

In [6]:
l = [1,2,3,4,5,6,7,8,9,10]
s = pd.Series(l)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
s[20]=None

In [8]:
print(s.isnull())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
20     True
dtype: bool

In [9]:
s.fillna(20)

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
20    20.0
dtype: float64

In [10]:
s[2]=None

In [11]:
s

0      1.0
1      2.0
2      NaN
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
20     NaN
dtype: float64

In [12]:
s.dropna()

0     1.0
1     2.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

#### Ques 3

In [13]:
df = pd.DataFrame({'Name' :['Alice','Bob','Claire'],'age':[25,30,27],'Gender':['Female','Male','Female']}, index:=None)
print(df)

     Name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Ques 4

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is like a spreadsheet or SQL table, where rows represent observations and columns represent features.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.) and has an associated label, called the index.

The primary difference between the two is that a DataFrame can contain multiple columns of different data types, whereas a Series contains only one column of data.

In [14]:
import pandas as pd
data = {'Name': ['John', 'Sara', 'David'],
        'Age': [24, 30, 28],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
s = pd.Series([24, 30, 28], name='Age')
print("DataFrame")
print(df)
print("Series")
print(s)

DataFrame
    Name  Age      City
0   John   24  New York
1   Sara   30    London
2  David   28     Paris
Series
0    24
1    30
2    28
Name: Age, dtype: int64

#### Ques 5

There are numerous functions available in Pandas that can be used to manipulate data in a DataFrame. Here are some common ones:

head() and tail(): These functions are used to display the first or last n rows of a DataFrame. They are useful for quickly checking the data to make sure it was loaded correctly.

In [30]:
df = pd.read_csv('services.csv')
print(df.head(5))  # display the first 10 rows
print(df.tail())

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                               None   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]
    id  location_id  program_id         accepted_payments  \
18  19           19         NaN                       NaN
19  20           20         NaN                       NaN
20  21           21         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
22  23           22         NaN                       NaN

           alternate_name                             application_process  \
18                    NaN  Call for screening appointment (650-347-3648).
19                    NaN                                        Walk in.
20                    NaN                 By phone during business hours.
21  Fotos para pasaportes               Walk in or apply by phone or mail
22                    NaN               Walk in or apply by phone or mail

                                             audience  \
18                                                NaN
19                                                NaN
20                                                NaN
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

                                          description  \
18  Provides free medical and dental care to those...
19              no unrequired fields for this service
20                                just a test service
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

                                        eligibility                  email  \
18  Low-income person without access to health care                    NaN
19                                              NaN                    NaN
20                                              NaN                    NaN
21                                             None  passports@example.org
22                                             None                    NaN

    ...                            interpretation_services  \
18  ...                                                NaN
19  ...                                                NaN
20  ...                                                NaN
21  ...  We offer 3-way interpretation services over th...
22  ...                                                NaN

                                             keywords languages  \
18  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
19                                                NaN       NaN
20                                                NaN       NaN
21                                    Salud, Medicina   Spanish
22         Ruby on Rails/Postgres/Redis, testing, wic       NaN

                               name                        required_documents  \
18    San Mateo Free Medical Clinic                                       NaN
19        Service with blank fields                                       NaN
20  Service for Admin Test Location                                       NaN
21                  Passport Photos  Government-issued picture identification
22             Example Service Name                                       NaN

                       service_areas    status            wait_time  \
18               Belmont, Burlingame    active              Varies.
19                               NaN   defunct                  NaN
20                  San Mateo County  inactive                  NaN
21  Alameda County, San Mateo County    active  No wait to 2 weeks.
22  San Mateo County, Alameda County    active   No wait to 2 weeks

                   website                              taxonomy_ids
18                     NaN                                       NaN
19                     NaN                                       NaN
20                     NaN                                       NaN
21  http://www.example.com  105, 108, 108-05, 108-05-01, 111, 111-05
22  http://www.example.com                                       NaN

[5 rows x 22 columns]

describe(): This function provides a summary of the statistical properties of each column in the DataFrame, such as the mean, standard deviation, and quartiles.

In [31]:
print(df.describe())

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

### Ques 6

In the pandas library, both Series and DataFrame are mutable in nature, meaning that you can modify their contents after they have been created.